{% extends './base.html' %}

{% block title %} Pedidos {% endblock %}

<div class="row"></div>
    <h3>Forma de Pagamento</h3>
    <label for="formaPagamento">Debito</label>
    <input type="radio" name="formaPagamento" id="debito" value="Debito">
    <label for="formaPagamento">Credito</label>
    <input type="radio" name="formaPagamento" id="credito" value="Credito">
    <label for="formaPagamento">Pix</label>
    <input type="radio" name="formaPagamento" id="debito" value="PIX">
    <label for="formaPagamento">Dinheiro</label>
    <input type="radio" name="formaPagamento" id="credito" value="Dinheiro">
    <label for="formaPagamento">Cortesia/Promo</label>
    <input type="radio" name="formaPagamento" id="debito" value="Cortesia">
    <label for="formaPagamento">PDP</label>
    <input type="radio" name="formaPagamento" id="credito" value="pdp">
    
</div>

{% block body %}

{% endblock %}